doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' type='text/css' media='screen' href='/home/styles/style.css')
  script(src='main.js')
  title title
h2 Dont care about the UI
h4  Home page 
.pages
  a.page(href='/signIn') Sign in
  a.page(href='/logIn') Log in
.part
  h4 List of products : 
  each value in newProduct
    div.product
      b &#x646;&#x627;&#x645; &#x645;&#x62D;&#x635;&#x648;&#x644; : #{value.name}
      p &#x642;&#x6CC;&#x645;&#x62A; &#x645;&#x62D;&#x635;&#x648;&#x644; #{value.price}
      a(href='/logIn/buy/' + value.id) &#x62E;&#x631;&#x6CC;&#x62F;