doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Page Title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/signIn/styles/styles.css')
  script(src='main.js')
h4 Sign in
form(method='POST' action='/signIn/submit')
  label.errorMessages= errorMessages
  input(name='name' type='text' placeholder='name')
  input(name='username' type='text' placeholder='username')
  input(name='password' type='password' placeholder='password')
  input(name='rewritePassword' type='password' placeholder='repeat your password')
  input(name='email' type='email' placeholder='email')
  input(name='phone' type='tel' placeholder='phone number')
  input#isAdmin(type='checkbox' name='isAdmin' value='true')
  label(for='isAdmin')  sign in as admin?
  input.submit(name='submit' type='submit' value='Sign in')
