doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title= title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/dashboard/styles/style.css')
  script(src='main.js')
h4= header
.part
  h4 My Card : 
  each value in myCard
    div.product
      b #{value.name}
      p price : #{value.price}$
      a(href='/logIn/remove/' + value.id) Remove