doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Page Title
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' media='screen' href='/emailVerify/styles/style.css')
  script(src='main.js')
h4 Forgot Password
form(method='POST' action='/logIn/forgotPass/send/verify')
  h6=successMessage
  h5=errorMessage
  p enter the code which was send to your email
  input(type='number' name='code' placeholder='XXXX')
  input.submit(type='submit' name='submit' value='verify')